# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5f7b8e1fd63414b1711ed83fa32c8489"
name = "draft-order-button"
handle = "draft-orders-button"
application_url = "https://newcastle-fwd-forgot-die.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true


[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_themes,read_themes,read_draft_orders,write_products,read_products,read_customers,write_draft_orders,write_customers"

[auth]
redirect_urls = ["https://newcastle-fwd-forgot-die.trycloudflare.com/auth/callback", "https://newcastle-fwd-forgot-die.trycloudflare.com/auth/shopify/callback", "https://newcastle-fwd-forgot-die.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
