
client_id = "5f7b8e1fd63414b1711ed83fa32c8489"
name = "draft-order-button"
handle = "draft-orders-button" 
application_url = "https://draft-lyart.vercel.app/"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2025-07"



  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
scopes = "read_themes, write_themes,read_draft_orders,write_products,read_products,read_customers,write_draft_orders,write_customers"

[auth]
redirect_urls = ["https://draft-lyart.vercel.app/auth/callback", "https://draft-lyart.vercel.app/auth/shopify/callback", "https://draft-lyart.vercel.app/api/auth/callback"]

[pos]
embedded = false
